<div>
    <form action="GetNumbers" method="post">
        <p>Enter the first number: <input name="inputNumber1" type="number" /></p>
        <p>Enter the second number: <input name="inputNumber2" type="number" /></p>
        <input name="submit" type="submit" />
    </form>
    <p>
        The square of the input is : @Model
    </p>
</div>